# OpenAI API Key - https://platform.openai.com/overview
OPENAI_API_KEY=11

# change this to an `accessToken` extracted from the ChatGPT site's `https://chat.openai.com/api/auth/session` response
OPENAI_ACCESS_TOKEN=11

# OpenAI API Base URL - https://api.openai.com
OPENAI_API_BASE_URL=

# OpenAI API Model - https://platform.openai.com/docs/models
OPENAI_API_MODEL=

# set `true` to disable OpenAI API debug log
OPENAI_API_DISABLE_DEBUG=

# Reverse Proxy - Available on accessToken
# Default: https://bypass.churchless.tech/api/conversation
# More: https://github.com/transitive-bullshit/chatgpt-api#reverse-proxy
API_REVERSE_PROXY=

# timeout
TIMEOUT_MS=100000

# Rate Limit
MAX_REQUEST_PER_HOUR=

# Secret key
AUTH_SECRET_KEY=78888

# Socks Proxy Host
SOCKS_PROXY_HOST=

# Socks Proxy Port
SOCKS_PROXY_PORT=

# Socks Proxy Username
SOCKS_PROXY_USERNAME=

# Socks Proxy Password
SOCKS_PROXY_PASSWORD=

# HTTPS PROXY
HTTPS_PROXY=

# mysql最大连接数
MYSQL_CONNECTION_LIMIT=

#数据库地址
MYSQL_HOST=数据库地址
#数据库端口 默认3306
MYSQL_PORT=
#数据库账号
MYSQL_USER=数据库账号
#数据库密码
MYSQL_PASSWORD=数据库账号
#数据库名database
MYSQL_DATABASE=数据库账号
#新用户默认使用次数
USAGE_LIMIT= 10
#邮箱账号 去QQ邮箱申请
EMAIL_USERNAME=邮箱账号
#邮箱发信密码
EMAIL_PASSWORD=发信密码
#默认QQ邮箱哦，直接去QQ邮箱拿密码就好
SMTP= smtp.163.com
#表示邮件发送者的名称
EMAIL_FROM_NAME= 验证码
#表示邮件发送者的邮箱地址
EMAIL_USERNAME= 邮箱账号







